Repository dionseid/digitalbooking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: build
  trigger:
    include: front/proyecto/.gitlab-ci.yml
    strategy: depend
  before_script:
  - 'curl --location --request PUT --header "PRIVATE-TOKEN: $GITLAB_PERSONAL_ACCESS_TOKEN" \
  
    --silent --output /dev/null --show-error --fail \
  
  ...

backend:
  stage: build
  trigger:
    include: back/digitalbooking/.gitlab-ci.yml
    strategy: depend
  before_script:
  - 'curl --location --request PUT --header "PRIVATE-TOKEN: $GITLAB_PERSONAL_ACCESS_TOKEN" \
  
    --silent --output /dev/null --show-error --fail \
  
  ...

Deploy necesita 1 job OK - flag, no 'needs'
  .gitlab-ci.yml
  back/digitalbooking/test
Due: backend

Spring security y JWT resuelto
  back/digitalbooking/pom.xml
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/AutenticationController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/filter/JwtRequestFilter.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Usuario.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/dto/AuthenticationDTORequest.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/dto/AuthenticationDTOResponse.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/repository/UsuarioRepository.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/IJwtService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/JwtService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/UsuarioService.java
Due: backend

security
  back/digitalbooking/pom.xml
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/DigitalbookingApplication.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/UsuarioController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Usuario.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/repository/UsuarioRepository.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/AuthenticationController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/AuthenticationDTORequest.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/AuthenticationDTOResponse.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/IJwtService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/JwtRequestFilter.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/JwtService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/UsuarioService.java
Due: backend

merge con rama de diana
  back/digitalbooking/src/main/resources/application.properties
  front/proyecto/package-lock.json
  front/proyecto/src/components/FormCuenta.jsx
  front/proyecto/src/components/Sidebar.jsx
  front/proyecto/src/components/context/UserContext.js
Due: frontend

Deploy necesita 1 job OK - flag
  .gitlab-ci.yml
  back/digitalbooking/test
Due: backend

Deploy necesita 1 job OK - flag - 2
  .gitlab-ci.yml
  back/digitalbooking/test
Due: backend

Deploy necesita 1 job OK - project variables
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/.gitlab-ci.yml
  front/proyecto/test
Due: frontend, backend

Deploy necesita 1 job OK - project variables - 2
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Deploy necesita 1 job OK - project variables - 3
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/.gitlab-ci.yml
  front/proyecto/test
Due: frontend, backend

Deploy necesita 1 job OK - project variables - 4
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Deploy necesita 1 job OK - project variables - 5
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

back 100% funcional issues terminadas
  back/digitalbooking/.gitignore
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Usuario.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/UsuarioService.java
Due: backend

security
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Usuario.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/SecurityConfiguration.java
Due: none

security ok
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/AuthenticationController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/AuthenticationDTORequest.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/AuthenticationDTOResponse.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/IJwtService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/JwtRequestFilter.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/JwtService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/security/SecurityConfiguration.java
Due: none

security ok
  back/digitalbooking/src/main/resources/application.properties
Due: none

implementado el filtro de ciudad, fecha y categoria con el endpoint de la BBDD
  front/proyecto/src/App.js
  front/proyecto/src/components/Calendario.jsx
  front/proyecto/src/components/CalendarioBanner.jsx
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/DetallesReserva.jsx
  front/proyecto/src/components/context/FechaRangoContextProvider.js
  front/proyecto/src/components/context/IdProductoContext.js
  front/proyecto/src/pages/Home.js
  front/proyecto/src/pages/Productos.js
  front/proyecto/src/pages/Reserva.js
Due: none

agregadas las fechas de reservas como deshabilitadas en el calendario
  front/proyecto/src/components/Calendario.jsx
  front/proyecto/src/components/DetallesReserva.jsx
  front/proyecto/src/components/context/FechaRangoContextProvider.js
  front/proyecto/src/pages/Productos.js
  front/proyecto/src/pages/Reserva.js
Due: none

agregadas validaciones en detalle de reserva, falta conectar a la API
  front/proyecto/src/App.js
  front/proyecto/src/components/DetallesReserva.jsx
  front/proyecto/src/components/SelectHora.jsx
  front/proyecto/src/components/context/HoraContextProvider.js
  front/proyecto/src/pages/Reserva.js
Due: none

Deploy necesita 1 job OK - Quito extensiones d job
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

agreado crossOrigin en reservaController
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ReservaController.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

Dploy necesita 1 job OK - sin extnsiones d job - 2
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Dploy necesita 1 job OK - sin extnsiones d job - 3
  .gitlab-ci.yml
  front/proyecto/test
Due: frontend

Dploy necesita 1 job OK - sin extnsiones d job - 4
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Dploy necesita 1 job OK - sin extnsiones d job - 5
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Probando deployment
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: frontend, backend

merge back y front
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

Arreglo llamadas al API desde frontend
  .gitlab-ci.yml
  front/proyecto/request.http
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/DetallesReserva.jsx
Due: frontend

manual deploy, if at least 1 build
  .gitlab-ci.yml
  allowDeployment.txt
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: frontend, backend

manual deploy, if at least 1 build - touch, rm
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: frontend, backend

manual deploy, if at least 1 build - touch, rm - 2
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Agrego configuraciones de Swagger para documentación de la API
  back/digitalbooking/pom.xml
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/DigitalbookingApplication.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SwaggerConfig.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/AutenticationController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/CaracteristicaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/CategoriaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/CiudadController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ImagenController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/PoliticaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ProductoController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ReservaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/RolUsuarioController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/UsuarioController.java
  back/digitalbooking/src/main/resources/application.properties
Due: backend

merge rama developLocal con sofia
  back/digitalbooking/src/main/resources/application.properties
  front/proyecto/package-lock.json
  front/proyecto/package.json
Due: frontend

cambios al readme
  README.md
Due: none

cambios al readme2
  README.md
Due: none

cambios al readme3
  README.md
Due: none

permisos de matchers en security
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
Due: none

comento crossorigins de más
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/CaracteristicaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/CategoriaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ImagenController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/PoliticaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ProductoController.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

coloco comentarios de lo que se debe modificar
  front/proyecto/src/components/BootstrapCarousel.jsx
  front/proyecto/src/components/Caracteristicas.jsx
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/DetallesReserva.jsx
  front/proyecto/src/components/Galeria.jsx
  front/proyecto/src/components/Reglas.jsx
Due: none

manual deploy, if at least 1 build - tdependencies
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: frontend, backend

Path conditions:
  frontend: any of: front/proyecto/*
  backend: any of: back/digitalbooking/*
