Repository dionseid/digitalbooking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: build
  trigger:
    include: front/proyecto/.gitlab-ci.yml
    strategy: depend
  before_script:
  - 'curl --location --request PUT --header "PRIVATE-TOKEN: $GITLAB_PERSONAL_ACCESS_TOKEN" \
  
    --silent --output /dev/null --show-error --fail \
  
  ...

backend:
  stage: build
  trigger:
    include: back/digitalbooking/.gitlab-ci.yml
    strategy: depend
  before_script:
  - 'curl --location --request PUT --header "PRIVATE-TOKEN: $GITLAB_PERSONAL_ACCESS_TOKEN" \
  
    --silent --output /dev/null --show-error --fail \
  
  ...

include con files en /
  .gitlab-ci.yml
  frontend.gitlab-ci.yml
Due: none

job --» Hago visible y cambio nombre
  backend.gitlab-ci.yml
  frontend.gitlab-ci.yml
Due: none

Agrego rules a jobs sin parent/child
  backend.gitlab-ci.yml
  frontend.gitlab-ci.yml
Due: none

Agrego rules a jobs sin parent/child
  backend.gitlab-ci.yml
Due: none

Probando changes de carpetas de proyecto
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Probando changes - backend
  back/digitalbooking/test
Due: backend

Probando changes - backend
  back/digitalbooking/test
  backend.gitlab-ci.yml
Due: backend

Probando changes - frontend
  front/proyecto/test
Due: frontend

Pruebo deploy con cambios en 1 carpeta - back
  .gitlab-ci.yml
  back/digitalbooking/test
Due: backend

cambios en 1 dir, build de back, deploy
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

echo > file, artifacts, rules exists
  .gitlab-ci.yml
  frontend.gitlab-ci.yml
Due: none

echo > file, artifacts, rules exists
  front/proyecto/test
Due: frontend

2 cambios, echo > file, artifacts, rules exists
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

2 cambios, allow_failure: true, rules exists
  back/allowDeployment
  back/digitalbooking/test
  backend.gitlab-ci.yml
  front/allowDeployment
  front/proyecto/test
  frontend.gitlab-ci.yml
Due: frontend, backend

allow_failure: T, dependencies, exists w/ manual
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
  infrastructure.gitlab-ci.yml
Due: frontend, backend

registo-login andan mirame no me toques
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/DigitalbookingApplication.java
  front/proyecto/src/App.js
  front/proyecto/src/components/FormCuenta.jsx
  front/proyecto/src/components/FormLogin.jsx
  front/proyecto/src/components/Navbar.jsx
  front/proyecto/src/components/Sidebar.jsx
  front/proyecto/src/components/context/UserContext.js
Due: none

Estabilizando versión del pipeline
  .gitlab-ci.yml
  allowDeployment.txt
  back/digitalbooking/.gitlab-ci.yml
  backend.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
  infra/.gitlab-ci.yml
  infra/security.tf
  infrastructure.gitlab-ci.yml
Due: frontend, backend

Estabilizando versión del pipeline
  .gitlab-ci.yml
Due: none

Estabilizando versión del pipeline
  back/digitalbooking/test
  front/proyecto/test
  infra/test
  test
Due: frontend, backend

infra job with 'allow_failure: true' when manual
  .gitlab-ci.yml
Due: none

infra job with 'allow_failure: true' when manual
  back/digitalbooking/test
  front/proyecto/test
  infra/test
Due: frontend, backend

allow_failure: true pa back & front cuando manual
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
  infra/test
Due: frontend, backend

Corrijo sintaxis: -var 'db_pass=$DB_PASSWORD'
  back/digitalbooking/test
  front/proyecto/test
  infra/.gitlab-ci.yml
  infra/test
Due: frontend, backend

Quito 'profile = "digital_booking_g8"' de main.tf
  back/digitalbooking/test
  front/proyecto/.gitlab-ci.yml
  front/proyecto/test
  infra/main.tf
Due: frontend, backend

Hago automátiq al deployment de la infra
  back/digitalbooking/test
  front/proyecto/test
  infra/.gitlab-ci.yml
Due: frontend, backend

actualizo package-lock.json (npm i)
  front/proyecto/package-lock.json
Due: frontend

Quito var de terraform:deploy por saved plan
  back/digitalbooking/test
  front/proyecto/test
  infra/.gitlab-ci.yml
Due: frontend, backend

Quito residuo de archivo var flag en front CI
  back/digitalbooking/test
  front/proyecto/.gitlab-ci.yml
  infra/test
Due: frontend, backend

Me acuerdo d espcificar artfacto en build frontend
  front/proyecto/.gitlab-ci.yml
  infra/modules/route53/main.tf
Due: frontend

Intento deployar Route 53
  infra/main.tf
Due: none

docker build cache-from APP_VERSION en vz d latest
  front/proyecto/.gitlab-ci.yml
Due: frontend

corrigiendo estilos de card Recomendaciones y del calendario
  front/proyecto/src/components/Calendario.jsx
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/UbicacionProducto.jsx
  front/proyecto/src/styles/calendario.css
  front/proyecto/src/styles/cards.css
  front/proyecto/src/styles/pages/productos.css
Due: none

Agrego passwordEncoder funcionando
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/PasswordEncoder.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/UsuarioService.java
Due: none

Deployar app porque backend enseña errores
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Ãlogin ponele que anda
  front/proyecto/src/components/FormCuenta.jsx
  front/proyecto/src/components/FormLogin.jsx
  front/proyecto/src/components/Navbar.jsx
  front/proyecto/src/components/Sidebar.jsx
  front/proyecto/src/components/context/UserContext.js
  front/proyecto/src/pages/Productos.js
Due: none

haciendo responsive la pagina de reservas
  back/digitalbooking/src/main/resources/application.properties
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/ComponenteInput.jsx
  front/proyecto/src/components/DatosUsuario.jsx
  front/proyecto/src/components/DetallesReserva.jsx
  front/proyecto/src/components/FormCuenta.jsx
  front/proyecto/src/components/Navbar.jsx
  front/proyecto/src/components/Sidebar.jsx
  front/proyecto/src/components/context/UserContext.js
  front/proyecto/src/pages/Productos.js
  front/proyecto/src/pages/Reserva.js
  front/proyecto/src/styles/cards.css
  front/proyecto/src/styles/datosUsuarios.css
  front/proyecto/src/styles/horarioLlegada.css
  front/proyecto/src/styles/pages/reserva.css
  front/proyecto/src/styles/reservaDetalle.css
Due: none

Suspendo test docker image y asigno vs a app.props
  back/digitalbooking/src/main/resources/application.properties
  front/proyecto/.gitlab-ci.yml
Due: frontend

Saco application.properties de .gitignore
  back/digitalbooking/.gitignore
  back/digitalbooking/src/main/resources/application.properties
Due: backend

Saco application.properties de .gitignore
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

Agrego echo $APP_VERSION a build de frontend
  back/digitalbooking/test
  front/proyecto/.gitlab-ci.yml
  front/proyecto/test
Due: frontend, backend

Path conditions:
  frontend: any of: front/proyecto/*
  backend: any of: back/digitalbooking/*
