Repository dionseid/digitalbooking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: build
  trigger:
    include: front/proyecto/.gitlab-ci.yml
    strategy: depend
  before_script:
  - 'curl --location --request PUT --header "PRIVATE-TOKEN: $GITLAB_PERSONAL_ACCESS_TOKEN" \
  
    --silent --output /dev/null --show-error --fail \
  
  ...

backend:
  stage: build
  trigger:
    include: back/digitalbooking/.gitlab-ci.yml
    strategy: depend
  before_script:
  - 'curl --location --request PUT --header "PRIVATE-TOKEN: $GITLAB_PERSONAL_ACCESS_TOKEN" \
  
    --silent --output /dev/null --show-error --fail \
  
  ...

manual dploy, if at least 1 build - dpendences - 2
  .gitlab-ci.yml
Due: none

manual dploy, if at least 1 build - dpendences - 2
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

manual dploy, if at least 1 build - dpendences - 3
  .gitlab-ci.yml
Due: none

manual dploy, if at least 1 build - dpendences - 3
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

manual dploy, if at least 1 build - dpendences - 4
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

modifico urls a los que pega front
  front/proyecto/package-lock.json
  front/proyecto/src/components/BootstrapCarousel.jsx
  front/proyecto/src/components/Caracteristicas.jsx
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/DetallesReserva.jsx
  front/proyecto/src/components/Galeria.jsx
  front/proyecto/src/components/Reglas.jsx
Due: frontend

manual deployment, if 1/2 build - cuello d botella
  .gitlab-ci.yml
  back/allowDeployment
  front/allowDeployment
Due: none

manual deployment, if 1/2 build - cuello d botella
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

manual deployment, if 1/2 build - allow_failure: F
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

manual deployment, if 1/2 build - needs
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

manual deployment, if 1/2 build - dependencies
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

manual deployment, if 1/2 build - on_success
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

allow_failure: false & needs & on_success
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

no on_success en deploy; Arreglo condicional
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

dependencies: stage en deploy
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

needs: [stage] en deploy
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

allow_failure: false en stage
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

when: always en stage
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

no allow_failue en builds + stage job
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

allow_failure: false & when: on_failure
  .gitlab-ci.yml
  back/digitalbooking/test
  front/proyecto/test
Due: frontend, backend

actualizo tests postman, urls front actualizadas, problemas endpoints solucionados
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  front/proyecto/src/components/BootstrapCarousel.jsx
  front/proyecto/src/components/Caracteristicas.jsx
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/DetallesReserva.jsx
  front/proyecto/src/components/Galeria.jsx
  front/proyecto/src/components/Reglas.jsx
  testing/Digitalbooking_Posts.postman_collection.json
Due: none

cambios securityConfig
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

cambios en front, registro anda falta ver login
  front/proyecto/src/components/FormCuenta.jsx
  front/proyecto/src/components/FormLogin.jsx
  front/proyecto/src/components/Sidebar.jsx
  front/proyecto/src/helpers/axiosConnection.js
Due: none

cambios securityConfig + agrego a controller actualizar usuario
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/UsuarioController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/UsuarioService.java
Due: none

cambios securityConfig + postman collections
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  testing/Digitalbooking_Posts.postman_collection.json
  testing/Proyecto integrador.postman_collection.json
  testing/Proyecto integrador.postman_test_run.json
Due: none

get usuario by id
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/UsuarioController.java
  back/digitalbooking/src/main/resources/application.properties
  front/proyecto/package-lock.json
Due: frontend

login no funciona
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/AutenticationController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/UsuarioController.java
  front/proyecto/src/components/FormCuenta.jsx
  front/proyecto/src/components/FormLogin.jsx
Due: none

permitir listar reservas
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/config/SecurityConfiguration.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

no parent/child pipeline
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: frontend, backend

includes: - template:
  .gitlab-ci.yml
Due: none

include: - template:
  .gitlab-ci.yml
Due: none

include: - template:
  .gitlab-ci.yml
  backend.gitlab-ci.yml
Due: none

include: - local:
  .gitlab-ci.yml
Due: none

extends & alias
  .gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: frontend

extends & alias
  .gitlab-ci.yml
Due: none

sin parent/child, sole 1 archivo
  .gitlab-ci.yml
Due: none

Path conditions:
  frontend: any of: front/proyecto/*
  backend: any of: back/digitalbooking/*
